<h1>Farvelære og Typografi</h1>
<p>
  Opgaver for uge 5
</p>

<mat-tab-group>
  <mat-tab label="Farvelære - Arbejdsplads">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave</h4>
        <div>
          <p>
            Med udgangspunkt i din arbejdsplads' website skal du undersøge
          </p>
          <ol>
            <li>
              Hvilke farver anvendes der på sitet? Er der tale om primære,
              sekundære eller tertiære farver?
            </li>
            <li>
              Hvilken farveharmoni er der anvendt?
            </li>
            <li>
              Kan du sige noget om betydningen af farverne som er anvendt på
              sitet?
            </li>
          </ol>
        </div>

        <h5>1. Farver på Jyske Bank hjemmeside?</h5>
        <p>
          Jeg arbejder i Jyske Bank og nedenstående vises deres forside.
        </p>
        <div class="p-2 border border-light">
          <img
            src="../../../assets/uge-5/opg-1/JyskeBank.png"
            alt="Jyske Bank"
            width="100%"
          />
        </div>
        <p class="mt-3">
          De farver som benyttes til navigation, menu og ”call to actions” er
          primært i det grønne farvespektrum. Hvis jeg holder dette op mod
          farvehjulet, vil det være en sekundær farve.
        </p>
        <p>
          Som baggrundsfarve for indhold benyttes hvid, som jeg ikke anser for
          at være en farve, da den ikke er en del af farvehjulet.
        </p>
        <p>
          I sidefoden benyttes en mørk farve som ikke er sort, men har en lysere
          toning.
        </p>
        <div class="text-center">
          <img
            src="../../../assets/uge-5/opg-1/color-wheel.png"
            alt="Jyske Bank"
            width="60%"
          />
        </div>

        <h5>2. Hvilken farveharmoni er der anvendt?</h5>
        <p>
          Ved brug af ovenstående skærmbillede, har jeg benyttet Adobe Color CC
          til hjælp med at finde farveharmoni'en. De 3 grønlige farver der
          benyttes til navigation, menu og ”call to actions” ligger tæt op af
          hindenden på farvehjulet. Derfor er min konklusion at det er en analog
          farveharmoni.
        </p>
        <div class="p-2 border border-light">
          <img
            src="../../../assets/uge-5/opg-1/adobe-color-jb.png"
            alt="Jyske Bank"
            width="100%"
          />
        </div>

        <h5>3. Farverne's betydning?</h5>
        <p>
          <b>Grøn</b> repræsenter penge, vækst og sikkerhed, hvilket passer godt
          til en min arbejdsplads, da dette er en bank.
        </p>
        <p>
          Men grøn er også en afslappende farve som er behagelig for øjet. Den
          mørke nuance af grøn repræsenterer det militære, hvilket er meget
          modsat sundhed og frugtbarhed, som grøn også repræsenterer.
        </p>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Farvelære - Portfolio">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave</h4>
        <p>
          Ved hjælp af Adobe Color skal du lave en farvepalette, som skal matche
          de farver du kunne tænke dig på din portfolio
        </p>
        <div class="mt-3">
          <p>
            Jeg har taget et skærmbillede af forsiden på min portfolio og
            importeret til Adobe Color CC.
          </p>
          <div class="p-2 border border-light">
            <img
              src="../../../assets/uge-5/opg-2/portfolio.png"
              alt="Portfilio"
              width="100%"
            />
          </div>
        </div>

        <div class="mt-4">
          <p>
            I Adobe CC har jeg har valgt de 5 farver, jeg gerne vil benytte til
            mit farveskema.
          </p>
          <div class="p-2 border border-light">
            <img
              src="../../../assets/uge-5/opg-2/portfolio-farveskema.png"
              alt="Portfolio farveskema"
              width="100%"
            />
          </div>
        </div>

        <div class="mt-5">
          <p>
            Efterfølgende har jeg prøvet forskellige farveharmoni'er og farver.
            Med udgangspunkt i mit eksisterende farveskema, har jeg valgt den
            komplimentære harmoni.
          </p>
          <div class="p-2 border border-light">
            <img
              src="../../../assets/uge-5/opg-2/portfolio-farveskema-ny.png"
              alt="Portfolio farveskema nyt"
              width="100%"
            />
          </div>
          <p class="mt-3">
            Årsagen til dette valg, er jeg får mulighed for forskellige farver,
            men at det stadig er farver som øjet ikke vil fange på samme måde
            som post-it'en gør på min portfolio i dag.
          </p>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Typografi">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave</h4>
        <p>
          Udform en posterlignende version af et af citaterne ovenfor og sørg
          for at det er en rent typografisk løsning (kun citatet - ikke
          forfatteren bag). Redegør for din komposition og upload løsningen til
          din portfolio.
        </p>

        <div class="p-2">
          <img
            src="../../../assets/uge-5/opg-3/typografi-opgave.jpg"
            alt="Typografi opgave"
            width="100%"
          />
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
