<h1>AI</h1>
<p>
  Opgaver for uge 10
</p>

<mat-tab-group>
  <mat-tab label="Opgave 1">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave 1</h4>
        <p>
          Du skal vurdere website's design ud fra følgende:
        </p>
        <ul>
          <li>Design-principper</li>
          <li>Komposition</li>
          <li>Kontraster</li>
          <li>Grid</li>
          <li>Samlet oplevelse</li>
        </ul>
        <hr />
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Opgave 2">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave 2</h4>
        <p>
          Din opgave er at komme med et forslag til minimum 2 sider med ens brug
          af grids. Hver af de redesignede sider skal uploades til din portfolio
          - enten som håndtegnede sketches, wireframes eller endnu bedre som
          digitale mock-ups.
        </p>
        <hr>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Opgave 3">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave 3</h4>
        <p>
          Hvis du har tid (og lyst) kan du komme med et forslag til et mobilt
          format.
        </p>
        <hr>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
