<h1>IA</h1>
<p>
  Opgaver for uge 10
</p>

<mat-tab-group>
  <mat-tab label="Opgave 1">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave 1</h4>
        <p>
          Du skal vurdere website's design ud fra følgende:
        </p>
        <ul>
          <li>Design-principper</li>
          <li>Komposition</li>
          <li>Kontraster</li>
          <li>Grid</li>
          <li>Samlet oplevelse</li>
        </ul>
        <hr />
        <p>
          Jeg har samlet vurderingen af hjemmesiden
          <a href="http://www.michaelhoecker.dk/index.php" target="_blank"
            >Tømrermester Michael Höcker</a
          >
          i et dokument. Det kan hentes som pdf
          <a
            href="../../../assets/uge-10/opg-1/hocker-vurdering.pdf"
            target="_blank"
            >her</a
          >
        </p>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Opgave 2">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave 2</h4>
        <p>
          Din opgave er at komme med et forslag til minimum 2 sider med ens brug
          af grids. Hver af de redesignede sider skal uploades til din portfolio
          - enten som håndtegnede sketches, wireframes eller endnu bedre som
          digitale mock-ups.
        </p>
        <hr />

        <p>
          Med udgangspunkt i den samme hjemmeside, som jeg lavede en vurdering
          af i opgave 1, har jeg lavet et design af forsiden og en side som
          omhandler gulve. Begge sider er opbygget omkring et grid med 12
          kolonner.
        </p>
        <p>
          Det er lavet i Adobe XD og filen kan hentes
          <a href="../../../assets/uge-10/opg-2/Hocker.xd" target="_blank"
            >her</a
          >
        </p>

        <h5>Nuværende hjemmeside</h5>
        <p>
          Nedenstående viser hjemmesidens forside som den er i dag. De
          underliggende sider der vises ved klik på navigations knapper kan
          vises, men der er ikke relevant indhold på nogle af dem.
        </p>
        <img
          src="../../../assets/uge-10/opg-2/michaelhocker.png"
          alt="Opgave - Michael Hocker hjemmeside"
          width="100%"
        />

        <h5>Nyt design med grids</h5>
        <p>
          Ved design af de 2 sider, har jeg benyttet et 12 kolonne's grid. Ved
          placering af de enkelte elementer, har jeg for så vidt muligt afpasset
          med de justrerer sig til at være indenfor kolonnerne.
        </p>
        <p>
          Ligeledes har jeg prøvet at benytte mig af "Reglen om tredjedele".
          Siden deles op i et grid med 3 rækker og 3 kolonner. Efterfølgende
          placeres ens elementer, der hvor linierne krydser.
        </p>

        <h6>Forsiden</h6>
        <img
          src="../../../assets/uge-10/opg-2/forside-grid-xd.jpg"
          alt="Opgave - Forside med grid"
          width="100%"
        />

        <h6 class="mt-4">Gulve</h6>
        <img
          src="../../../assets/uge-10/opg-2/gulve-grid-xd.jpg"
          alt="Opgave - Gulve med grid"
          width="100%"
        />
      </div>
    </div>
  </mat-tab>
  <!--  <mat-tab label="Opgave 3">-->
  <!--    <div class="row mx-0 my-3">-->
  <!--      <div class="col col-12 col-md-8 offset-md-2">-->
  <!--        <h4>Opgave 3</h4>-->
  <!--        <p>-->
  <!--          Hvis du har tid (og lyst) kan du komme med et forslag til et mobilt-->
  <!--          format.-->
  <!--        </p>-->
  <!--        <hr />-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </mat-tab>-->
</mat-tab-group>
