<h1>IA</h1>
<p>
  Opgaver for uge 9
</p>

<mat-tab-group>
  <mat-tab label="Opgave">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave</h4>
        <p>
          I denne uge skal du udvikle et IA (informationsarkitektur) til en
          online kogebog med "al viden" om mad, måltider og hvordan de kan laves
          i køkkentet. Tænk kreativt!
        </p>

        <ol>
          <li>
            Find ud af hvilke kategorier/emner du mener skal være med på
            websitet
          </li>
          <li>
            Skriv hver kategori/emne på et lille stykke papir eller post-it
          </li>
          <li>
            Lav en kortsorteringsøvelse, hvor du grupperer de forskellige
            elementer
          </li>
          <li>
            Navngiv herefter disse grupper (labels). Måske skal der være
            undergrupper/-kategorier til grupperne
          </li>
          <li>
            Diskuter hvilken IA struktur der vil være passende (evt. kombination
            af flere strukturer)
          </li>
          <li>
            Lav et sitemap over din IA (enten konceptuelt eller detaljeret)
          </li>
        </ol>

        <p>
          Sørg for at få det uploadet til din portfolio på en side som du kalder
          IA, hvor du også dokumenterer hvilken IA struktur du finder passende,
          jfr. pkt. 5
        </p>
        <hr />
        <div>
          <p>
            Jeg har som det første i denne opgave, startet med at lave et excel
            ark, hvori jeg skrev de kategorier/emner, jeg kunne komme i tanke
            om.
          </p>
          <p>
            Efterfølgende skrev jeg hvert enkelt emne på en post-it, som også
            fik et unikt nummer.
          </p>
          <p>
            Da mine post-it's var klar, lavede jeg en kortsorteringsøvelse. Her
            var jeg igennem flere iterationer, inden jeg fandt en løsning på min
            gruppering. Resultatet er vist i figuren nedenfor og kan ses i stort
            format ved klik
            <a
              href="../../../assets/uge-9/opgave/kortsortering.JPG"
              target="_blank"
              >her</a
            >
          </p>
          <img
            src="../../../assets/uge-9/opgave/kortsortering.JPG"
            alt="Opgave - Kortsortering"
            width="100%"
          />
          <p class="mt-4">
            Hver enkel gruppe blev efterfølgende navngivet og resultatet er vist
            i figuren nedenfor og kan ses i stort format ved klik
            <a href="../../../assets/uge-9/opgave/grupper.jpg" target="_blank"
              >her</a
            >
          </p>
          <img
            src="../../../assets/uge-9/opgave/grupper.jpg"
            alt="Opgave - Navngivning af grupper"
            width="100%"
          />
          <p class="mt-4">
            Jeg har lavet en abstrakt IA struktur, som viser de emner jeg mener
            hører til i en menu struktur. Det er ikke alle emner der er med, da
            nogle vil blive placeret i sidefoden på websitet. Endvidere har jeg
            omdøbt de enkelte emner.
          </p>
          <img
            src="../../../assets/uge-9/opgave/abstrakt-struktur.jpg"
            alt="Opgave - Abstrakt IA struktur"
            width="100%"
          />
          <p class="mt-4">
            Jeg har i mit sitemap lavet den struktur som jeg mener websitet skal
            have.
          </p>
          <img
            src="../../../assets/uge-9/opgave/sitemap.jpg"
            alt="Opgave - Sitemap"
            width="100%"
          />
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
