<h1>Ekspertvurdering</h1>
<p>
  Opgaver for uge 8
</p>

<mat-tab-group>
  <mat-tab label="Opgave 1">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave 1</h4>
        <ul>
          <li>
            Udfør en ekspertvurdering for
            <a href="http://bornholmermarked.dk/" target="_blank"
              >Bornholmermarked.dk</a
            >. Find alle potentielle problemer på websitet.
          </li>
          <li>
            Kategorisér problemerne efter Jakob Nielsens 10 Heuristikker og
            Principperne for Interaktionsdesign (brug kun de heuristikker som er
            aktuelle for websitet)
          </li>
          <li>
            Brug arbejdsarket til ekspertvurdering og udarbejd et skema som
            illustererer alvorsgraden. Begge dele uploades til din portfolio.
          </li>
        </ul>
        <hr />
        <p>
          Generelt synes jeg websitet vi skulle lave en ekspertvurdering af
          fungerede rigtig godt. Jeg havde svært ved at finde punkter, som var
          kritiske i forhold til de 10 heuristikker.
        </p>
        <p>
          Jeg har udarbejdet et dokumentet over de heuristikker jeg kunne finde
          som kan downloades, enten som word eller pdf.
        </p>
        <div>
          <a
            href="../../../assets/uge-8/opg-1/ekspertvurdering-af-bornholmermarked.docx"
            style="margin-right: 25px"
            >Word dokument</a
          ><a
            href="../../../assets/uge-8/opg-1/ekspertvurdering-af-bornholmermarked.pdf"
            >PDF dokument</a
          >
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Opgave 2">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave 2</h4>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
