<h1>Gangstertest</h1>
<p>
  Opgaver for uge 7
</p>

<mat-tab-group>
  <mat-tab label="Gangstertesten">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Gangstertesten</h4>
        <p>
          Formålet med gangstertesten er at få et overblik over hvordan
          informationsstrukturen er på et givent website. Den består af følgende
        </p>
        <ul>
          <li>
            Den samlede struktur, der udgør websitet sammenhæng i form af
            hierarki, niveauer og grupperinger
          </li>
          <li>
            Hvordan navigation er på websitet. Dette er et vigtigt element og
            efter Steve Krug udsagn, selve websitet
          </li>
          <li>
            Navngivning og sprog på overskrifter, knapper ledetekster osv.
          </li>
          <li>
            Er der mulighed for at kunne lave en søgning på websitet
          </li>
        </ul>
        <p>
          Nedenfor er beskrevet de 6 spørgsmål som indgår i gangstertesten.
          Pointen med testen er, hurtigt at kunne danne sig et overblik over, om
          de mest almindelige fælles regler for internettet er overholdt.
        </p>
        <p>
          Ud for hvert spørgsmål kan gives point fra 0 til 3 ud fra skalaen vist
          nederst på siden. Den højeste point score er 18 point.
        </p>

        <table class="table table-sm table-borderless table-striped">
          <thead>
            <tr>
              <th scope="col" style="width: 5%">#</th>
              <th scope="col" style="width: 45%">Spørgsmål</th>
              <th scope="col" style="width: 50%">Svar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <span class="font-weight-bold">Hvilket website er jeg på?</span>
                <div>
                  (Website ID: Se efter logo eller anden identifikation af
                  afsenderen)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">0 POINT</span>
                <p>
                  Svar
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                <span class="font-weight-bold"
                  >Hvor er websitets globale menu?
                </span>
                <div>
                  (Global menu: Se efter den overordnede menu på websitet)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">0 POINT</span>
                <p>
                  Svar
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>
                <span class="font-weight-bold"
                  >Underside: Hvilken underside er jeg på?
                </span>
                <div>
                  (Underside: Se efter undersidens titel)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">0 POINT</span>
                <p>
                  Svar
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>
                <span class="font-weight-bold"
                  >Hvilke muligheder har jeg på denne side?
                </span>
                <div>
                  (Muligheder: Undermenuer, links, downloads, viden, øvrige
                  funktioner)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">0 POINT</span>
                <p>
                  Svar
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>
                <span class="font-weight-bold"
                  >Hvordan er jeg kommet hertil?
                </span>
                <div>
                  (Placeringsindikator: Se efter brødkrummesti, overblik i
                  navigation, markering af aktuel placering)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">0 POINT</span>
                <p>
                  Svar
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>
                <span class="font-weight-bold">Hvor kan du søge? </span>
                <div>
                  (Søgefunktion: Er søgefeltet let at finde?)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">0 POINT</span>
                <p>
                  Svar
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>
                <span class="font-weight-bold">Samlet score</span>
              </td>
              <td>
                <span class="font-weight-bold">0 POINT</span>
              </td>
            </tr>
          </tbody>
        </table>

        <hr />

        <table class="table table-sm table-borderless table-striped">
          <thead>
            <tr>
              <th scope="col" colspan="2">Point skala for gangstertesten</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><span class="font-weight-bold">0 POINT</span></th>
              <td>Denne information fremgår slet ikke af undersiden</td>
            </tr>
            <tr>
              <th scope="row"><span class="font-weight-bold">1 POINT</span></th>
              <td>
                Denne information fremgår kun delvis af undersiden / den er svær
                at finde
              </td>
            </tr>
            <tr>
              <th scope="row"><span class="font-weight-bold">2 POINT</span></th>
              <td>Denne information kunne fremgå tydeligere på undersiden</td>
            </tr>
            <tr>
              <th scope="row"><span class="font-weight-bold">3 POINT</span></th>
              <td>Denne information fremgår tydeligt på undersiden</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div></mat-tab
  >

  <mat-tab label="Opgave 1">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave 1</h4>
        <p>Find et website for en boghandel</p>
        <ul>
          <li>Klik tilfældigt rundt på websitet</li>
          <li>
            Udfør en gangstertest
            <div>
              - Brug dig selv som testdeltager eller find en frivillig
              testdeltager
            </div>
            <div>- Stil de 6 spørgsmål fra testen og vurder svarene</div>
          </li>
          <li>
            Dokumenter resultatet på din portfolio på en side du kalder
            Gangstertest
          </li>
        </ul>
        <hr />
        <p>
          Jeg har valgt saxo.com boghandel og herefter lave en søgning på Bill
          Gates. Dette for at teste søge funktionalitet og dermed ramme en
          underside. Efterfølgende udført gangstertesten og lavet markering af
          elementer og afgivet point
        </p>
        <a href="../../../assets/uge-7/opg-1/saxo.jpg" target="_blank">
          <img
            src="../../../assets/uge-7/opg-1/saxo.jpg"
            alt="Gangstertest - Boghandel"
            width="100%"
          />
        </a>
        <div class="mb-3">Klik på billedet for at åbne i et andet vindue</div>

        <table class="table table-sm table-borderless table-striped">
          <thead>
            <tr>
              <th scope="col" style="width: 5%">#</th>
              <th scope="col" style="width: 45%">Spørgsmål</th>
              <th scope="col" style="width: 50%">Svar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <span class="font-weight-bold">Hvilket website er jeg på?</span>
                <div>
                  (Website ID: Se efter logo eller anden identifikation af
                  afsenderen)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">2 POINT</span>
                <p>
                  Logo'et i øverste venstre hjørne viser, det er saxo's
                  hjemmeside vi er på. Dog kan jeg ikke se det en boghandel. Der
                  findes også en bank som hedder saxo.
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                <span class="font-weight-bold"
                  >Hvor er websitets globale menu?
                </span>
                <div>
                  (Global menu: Se efter den overordnede menu på websitet)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">3 POINT</span>
                <p>
                  Den globale menu er nem at finde og giver hurtig adgang til
                  websitet mange kategorier
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>
                <span class="font-weight-bold"
                  >Underside: Hvilken underside er jeg på?
                </span>
                <div>
                  (Underside: Se efter undersidens titel)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">0 POINT</span>
                <p>
                  Jeg kan ikke se en underside nogen steder
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>
                <span class="font-weight-bold"
                  >Hvilke muligheder har jeg på denne side?
                </span>
                <div>
                  (Muligheder: Undermenuer, links, downloads, viden, øvrige
                  funktioner)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">3 POINT</span>
                <p>
                  Der er mange muligheder for at filtrere yderligere på sin
                  søgning, på en nem og overskuelig måde
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>
                <span class="font-weight-bold"
                  >Hvordan er jeg kommet hertil?
                </span>
                <div>
                  (Placeringsindikator: Se efter brødkrummesti, overblik i
                  navigation, markering af aktuel placering)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">3 POINT</span>
                <p>
                  Jeg har fundet frem til denne side ved brug af søgefunktion.
                  Det vises tydeligt hvad jeg har søgt på
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>
                <span class="font-weight-bold">Hvor kan du søge? </span>
                <div>
                  (Søgefunktion: Er søgefeltet let at finde?)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">3 POINT</span>
                <p>
                  Søgefeltet ligger tydeligt placeret på alle sider
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>
                <span class="font-weight-bold">Samlet score</span>
              </td>
              <td>
                <span class="font-weight-bold">14 POINT</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Opgave 2">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave 2</h4>
        <ul>
          <li>
            Udfør en gangstertest af
            <a href="http://born-host.dk" target="_blank">born-host.dk</a>
          </li>
          <li>
            Dokumenter resultatet på din portfolio på siden du kalder
            Gangstertest sammen med forslag til et redesign af sitet, hvor du
            inkorporerer resultaterne fra dit testresultat. Brug gerne Adobe XD
            til din prototype! Her kan du nøjes med at linke til XD i stedet for
            at lave screendumps.
          </li>
        </ul>
        <hr />

        <p>
          Jeg har taget et skærmbillede af
          <a href="http://born-host.dk" target="_blank">born-host.dk</a>.
          Herefter har jeg udført gangstertesten og givet point
        </p>

        <a
          href="../../../assets/uge-7/opg-2/born-host-gangstertest2.jpg"
          target="_blank"
        >
          <img
            src="../../../assets/uge-7/opg-2/born-host-gangstertest2.jpg"
            alt="Gangstertest - born-host"
            width="100%"
          />
        </a>
        <div class="mb-3">Klik på billedet for at åbne i et andet vindue</div>

        <table class="table table-sm table-borderless table-striped">
          <thead>
            <tr>
              <th scope="col" style="width: 5%">#</th>
              <th scope="col" style="width: 45%">Spørgsmål</th>
              <th scope="col" style="width: 50%">Svar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <span class="font-weight-bold">Hvilket website er jeg på?</span>
                <div>
                  (Website ID: Se efter logo eller anden identifikation af
                  afsenderen)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">1 POINT</span>
                <p>
                  Det er ikke indlysende for mig at dette er websitet's navn
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                <span class="font-weight-bold"
                  >Hvor er websitets globale menu?
                </span>
                <div>
                  (Global menu: Se efter den overordnede menu på websitet)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">2 POINT</span>
                <p>
                  Teksten på den globale menu er svær at læse, men er vist
                  øverst på siden. Ved klik på et link bliver det dog mere
                  tydeligt
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>
                <span class="font-weight-bold"
                  >Underside: Hvilken underside er jeg på?
                </span>
                <div>
                  (Underside: Se efter undersidens titel)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">3 POINT</span>
                <p>
                  Der er en titel på hver underside, som tydeligt viser hvor man
                  er
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>
                <span class="font-weight-bold"
                  >Hvilke muligheder har jeg på denne side?
                </span>
                <div>
                  (Muligheder: Undermenuer, links, downloads, viden, øvrige
                  funktioner)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">2 POINT</span>
                <p>
                  Der er mulighed for at skifte sprog mellem engelsk og dansk
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>
                <span class="font-weight-bold"
                  >Hvordan er jeg kommet hertil?
                </span>
                <div>
                  (Placeringsindikator: Se efter brødkrummesti, overblik i
                  navigation, markering af aktuel placering)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">1 POINT</span>
                <p>
                  Det valgte link får en anden farve som indikerer en placering
                  på websitet. På forsiden er det dog svært at læse teksten
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>
                <span class="font-weight-bold">Hvor kan du søge? </span>
                <div>
                  (Søgefunktion: Er søgefeltet let at finde?)
                </div>
              </td>
              <td>
                <span class="font-weight-bold">0 POINT</span>
                <p>
                  Jeg kan ikke se en søgefunktion
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>
                <span class="font-weight-bold">Samlet score</span>
              </td>
              <td>
                <span class="font-weight-bold">9 POINT</span>
              </td>
            </tr>
          </tbody>
        </table>
        <hr />

        <h5>Redesign af websitet</h5>
        <p>
          Beskriv kort hvilke tiltag der er gjort ved redesign!!!!
        </p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
