@import '~bootstrap/scss/bootstrap-grid.scss';

.jumbotron {
  background: linear-gradient(to bottom, #cdbe94 0%, #e9e2da 100%);
  height: 250px;
}

@include media-breakpoint-up(lg) {
  .logo {
    background: url('../assets/images/laptop-transparent-cola.png') no-repeat
      right;
    background-size: 388px 200px;
    height: 250px;
  }
}
