<header>
  <div class="jumbotron jumbotron-fluid m-0 p-0">
    <div class="container logo">
      <h1 class="display-5 pt-5">Interface Design</h1>
      <p class="lead">Mit personlige portfolio</p>
    </div>
  </div>
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <div class="container px-0">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" routerLinkActive="active">
            <li
              *ngFor="let item of NAV_ITEMS"
              class="nav-item"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link" routerLink="{{ item.routerLink }}">{{
                item.routerName
              }}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<section class="container mt-2">
  <router-outlet></router-outlet>
</section>
