<h1>Gestaltlove</h1>
<p>
  Opgaver for uge 4
</p>

<mat-tab-group>
  <mat-tab label="Gestaltlove og Designprincipper">
    <div style="margin-bottom: 25px; max-width: 800px;">
      <h5>Opgave 1</h5>
      <p>
        Jeg har valgt at bruge
        <a href="https://vejr.tv2.dk" target="_blank">TV2 vejret</a> hjemmeside
        til at vise 2 af gestaltlovene. Det er Proximity (nærhed) og Similarity
        (ensartethed).
      </p>

      <img
        src="../../../assets/uge-4/tv2-vejret-selection.png"
        alt="TV2 vejret"
        width="100%"
      />
      <p>
        I området markeret med blåt er I morgen, Lørdag, Søndag og Mandag
        elementer som har en lighed. Dermed er getaltloven Proximity opfyldt.
      </p>
      <p>
        I området markeret med gult ligner de enkelte tidspunkt kolonner
        hinanden. Dermed er gestaltloven Similarity opfxyldt.
      </p>

      <hr />
      <div>
        <h5>Opgave 2</h5>
        <p>
          På nedenstående tegning har jeg prøvet at illustrere nogle af
          gestaltlovene.
        </p>
        <img
          src="../../../assets/uge-4/uge_4_2.png"
          alt="Uge 4 opgave 2.1"
          width="100%"
        />
      </div>
      <ol style="margin-top: 25px">
        <li>
          Figure/Ground - Den første lov er Figure/Background. Det som er i
          fokus, her illustreret som firkanter, cirkler og trekanten, er figuren
          og den gradiente baggrundsfarve er bagggrunden.
        </li>
        <li>
          Similarity - Objekter som ligner hinanden, anses for at være
          grupperet, her illustreret i form af firkanter og cirkler.
        </li>
        <li>
          Proximity - Objekter som står i nærhed af hinanden anses for at være
          grupperet, , her illustreret i form af en firkant, cirkel og trekant.
        </li>
      </ol>
    </div>
  </mat-tab>
  <mat-tab label="Emotional Design">
    <div style="max-width: 600px;"></div>
  </mat-tab>
</mat-tab-group>
