<h1>Gestaltlove</h1>
<p>
  Opgaver for uge 4
</p>

<mat-tab-group>
  <mat-tab label="Gestaltlove og Designprincipper">
    <div style="margin-bottom: 25px; max-width: 800px;">
      <h5>Opgave 1</h5>
      <p>
        Jeg har valgt at bruge
        <a href="https://vejr.tv2.dk" target="_blank">TV2 vejret</a> hjemmeside
        til at vise 2 af gestaltlovene. Det er Proximity (nærhed) og Similarity
        (ensartethed).
      </p>

      <img
        src="../../../assets/uge-4/tv2-vejret-selection.png"
        alt="TV2 vejret"
        width="100%"
      />
      <p>
        I området markeret med blåt er I morgen, Lørdag, Søndag og Mandag
        elementer som har en lighed. Dermed er getaltloven Proximity opfyldt.
      </p>
      <p>
        I området markeret med gult ligner de enkelte tidspunkt kolonner
        hinanden. Dermed er gestaltloven Similarity opfyldt.
      </p>

      <hr />
      <div>
        <h5>Opgave 2</h5>
        <p>
          På nedenstående tegning har jeg prøvet at illustrere nogle af
          gestaltlovene.
        </p>
        <img
          src="../../../assets/uge-4/uge_4_2.png"
          alt="Uge 4 opgave 2.1"
          width="100%"
        />
      </div>
      <ol style="margin-top: 25px">
        <li>
          Figure/Ground - Den første lov er Figure/Background. Det som er i
          fokus, her illustreret som firkanter, cirkler og trekanten, er figuren
          og den gradiente baggrundsfarve er bagggrunden.
        </li>
        <li>
          Similarity - Objekter som ligner hinanden, anses for at være
          grupperet, her illustreret i form af firkanter og cirkler.
        </li>
        <li>
          Proximity - Objekter som står i nærhed af hinanden anses for at være
          grupperet, her illustreret i form af en firkant, cirkel og trekant.
        </li>
      </ol>
    </div>
  </mat-tab>
  <mat-tab label="Emotional Design">
    <div style="padding-bottom: 25px; max-width: 800px;">
      <p>
        Don Normon introducerede i 2005 ideen om et produkt design skal
        indeholde 3 niveauer som bearbejder en bruger kognitiv og emotionelt.
      </p>
      <div><b>Visceral (Instinktiv)</b></div>
      <div>
        Det instinktive design fokuserer på hvad man umiddelbart oplever, når
        man ser et produkt eller en hjemmeside, og inden man går yderligere i
        dybden. Animering og lyd kan spille en rolle i denne sammnenhæng. At
        designe for det instinktive niveau går ikke ud på at designe flotte
        "ting", men for at påvirke.
      </div>
      <br />
      <div><b>Behavioral (Adfærdsmæssige)</b></div>
      <div>
        Ved det adfærdsmæssige, designes der for at supplementere brugeren med
        de daglige handlinger. Det instinktive og reflekterende niveau, skal
        anses som supporterende til det adfærdsmæssige niveau. Det er ligeledes
        på dette niveau, størstedelen af aktiviteterne for interaktions design
        og brugervenlighed ligger.
      </div>
      <br />
      <div><b>Reflective (Reflekterende)</b></div>
      <div>
        Det reflekterende niveau er det størst udfordrende. Her designes for at
        opretholde et langsigtet forhold overfor brugeren. Dette niveau bygger
        derfor på historik og hukommelse.
      </div>
      <hr />
      <div>
        <p>
          Jeg har valgt at tage udgangspunkt i Jyske Bank hjemmeside. Det er en
          statisk side som henvender sig til bank kunder.
        </p>
        <div>
          <img
            src="../../../assets/uge-4/uge_4_3.png"
            alt="Uge 4 opgave 3.1"
            width="100%"
          />
        </div>
        <br />
        <div><b>Gamification</b></div>
        <div>
          For at få kunder til at bruge hjemmesiden, udover at undersøge nye
          lånemuligheder eller se sine konti, kunne man lave gamification i
          forbindelse med årets højtider. Til jul ville det være muligt at lave
          en julekalender med mulighed for at vinde et gavekort eller lignende.
          Jeg er dog ikke jurist, så om man må det ved jeg ikke.
        </div>
        <br />
        <div><b>Humor</b></div>
        <div>
          På de forskellige kort der vises på forsiden, kunne man indføre
          tekster og billeder som indeholdte en undertone af humor. Nu er bank
          sektoren en lidt kedelig branche og man skal derfor kende sit
          publikum.
        </div>
        <br />
        <div><b>Animation</b></div>
        <div>
          Vi lavede på et tidspunkt en bolig beregner på Jyske Bank hjemmeside
          med animation. Når en bruger valgte 2 voksne og 2 børn samt en bil,
          kom de frem på skærmen. Dette fik vi meget god feedback på, fordi det
          gav en fornemmelse af liv på siden.
        </div>
        <br />
        <div><b>Mascot</b></div>
        <div>
          Jyske Bank har en maskot som hedder Havkatten, der ikke fremstår på
          deres hjemmeside, men ses i deres bank filialer. Denne kunne man godt
          gøre mere brug af på hjemmesiden, så der ville være noget genkendeligt
          når man så den f.eks. i reklamer på TV.
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
