<div class="row">
  <div class="about-me mx-3 mx-md-0">
    <h3>Lidt om mig</h3>
    <p>
      Jeg hedder Lars og bor i Hvidovre. Dette er min portfolio, som er en del
      af mit forløb på Interface design modulet på diplom uddannelsen i WEB
      udvikling. Det er mit 3. modul, da jeg har været igennem Frontend og
      Backend udviklingsmodulerne.
    </p>
    <p>
      Jeg er ansat hos Jyske Bank hvor jeg sidder, som full-stack IT-udvikler i
      deres Selvbetjenings afdeling. Vi har ansvaret for udvikling af deres
      Netbank, mobilbank og andre løsninger for kunder og medarbejdere. De
      værktøjer jeg arbejder med er C#, Java, Angular og Ionic.
    </p>
  </div>
</div>

<div class="post-it">
  <a routerLink="/sketching" class="post-it-card">
    <div>
      <span>Sketching</span>
      <span>Opgaver for uge 3</span>
    </div>
  </a>
  <a routerLink="/gestaltlove" class="post-it-card">
    <div>
      <span>Gestaltlove og Emotionel design</span>
      <span>Opgaver for uge 4</span>
    </div>
  </a>
  <a routerLink="/farvelaereogtypografi" class="post-it-card">
    <div>
      <span>Farvelære og typografi</span>
      <span>Opgaver for uge 5</span>
    </div>
  </a>
  <a routerLink="/helsinge-kameludlejning" class="post-it-card">
    <div>
      <span>Helsinge Kameludlejning</span>
      <span>Opgaver for uge 6</span>
    </div>
  </a>
  <a routerLink="/gangstertest" class="post-it-card">
    <div>
      <span>Gangstertest</span>
      <span>Opgaver for uge 7</span>
    </div>
  </a>
</div>

<!--    <a routerLink="/interface-design" class="post-it-card">-->
<!--      <div>-->
<!--        <span>Interface Design</span>-->
<!--        <span>Klik her for at læse mere om Interface Design</span>-->
<!--      </div>-->
<!--    </a>-->
<!--    <a routerLink="/interactions-design" class="post-it-card">-->
<!--      <div>-->
<!--        <span>Interaktions Design</span>-->
<!--        <span>Klik her for at læse mere om Interaktions Design</span>-->
<!--      </div>-->
<!--    </a>-->
<!--    <a routerLink="/graphic-design" class="post-it-card">-->
<!--      <div>-->
<!--        <span>Grafisk Design</span>-->
<!--        <span>Klik her for at læse mere om Grafisk Design</span>-->
<!--      </div>-->
<!--    </a>-->
<!--</div>-->
