.about-me {
  background-image: linear-gradient(to bottom right, #ccbd93, #e9e3dc);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px 50px 30px;
  margin: 25px 0 25px;
  padding: 40px;
  height: 100%;

  h3 {
    font-style: italic;
  }
}

.post-it {
  display: flex;
  flex-wrap: wrap;
}

.post-it-card {
  text-decoration: none;

  div {
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/post-it.svg');
    height: 250px;
    width: 250px;
    text-align: center;

    span {
      color: black;
      display: inline-block;
      margin: 80px 20px 0 0;
      width: 150px;
      font-size: larger;
    }
    span:nth-child(2) {
      margin: 0 20px 0 0;
      font-size: initial;
      font-style: italic;
    }
  }
}
