<div class="row">
  <div class="col-12 col-md-8">
    Lidt om mig
  </div>
  <div class="col-12 col-md-4">
    <a routerLink="/contact" class="post-it-card">
      <div>
        <span>Kontakt</span>
        <span>Klik her for at kontake mig</span>
      </div>
    </a>
    <a routerLink="/" class="post-it-card">
      <div>
        <span>Interface Design</span>
        <span>Klik her for at læse mere om Interface Design</span>
      </div>
    </a>
    <a routerLink="/" class="post-it-card">
      <div>
        <span>Grafisk Design</span>
        <span>Klik her for at læse mere om Grafisk Design</span>
      </div>
    </a>
  </div>
</div>
