<h1>Sketching</h1>
<p>
  Opgaver for uge 3
</p>

<mat-tab-group>
  <mat-tab label="10 + 10 metoden">
    <div style="max-width: 600px;">
      <p>
        Jeg har valgt at lave en app, hvor man kan se træninger på åbne arealer
        i nærheden af sig selv. Man kan så tilmelde sig træningen og yderligere
        se hvem der ellers har tilmeldt sig.<br />
        Jeg startede med at lave 10 udkast som ses nedefor og kan hentes
        <a href="../../../assets/uge-3/opgave-1/udkast-koncept.zip"
          ><b>her</b></a
        >
      </p>
      <img
        src="../../../assets/uge-3/opgave-1/Design udkast faelles.jpg"
        alt="Design udkast faelles"
        width="600px"
      />
      <p>
        Jeg valgte at gå videre med udkast 9 og tegne 10 nye designs. De vises
        nedenfor og kan hentes her
        <a href="../../../assets/uge-3/opgave-1/design.zip"
          ><b>her</b></a
        >
      </p>
      <img
        src="../../../assets/uge-3/opgave-1/Design faelles.jpg"
        alt="Design udkast faelles"
        width="600px"
      />
      <p>
        Det endelige design blev nummer 9, hvor skærmen viser et maps med
        markers for træninger. Det er så muligt at ændre radius nede i højre
        side af skærmen. Ved tryk på en marker vises tidspunkt og deltagere.
        Endvidere er det muligt at tilmelde sig træningen.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Opgave 2">
    <h5>
      Design brief:
    </h5>
    <ul>
      <li>
        Titel: Cph Air Travel
      </li>
      <li>
        Målgruppe: Forretningsrejsende fra Københavns lufthavn
      </li>
      <li>
        Formål: En app som kan benyttes af rejsende fra Københavns lufthavn
      </li>
    </ul>
    <hr />
    <div>
      <h5>Brainstorm:</h5>
      <img
        src="../../../assets/uge-3/opgave-2/Cph Air Travel app - mindmap.svg"
        alt=""
      />
    </div>
    <hr />
    <h5>Sketches:</h5>
  </mat-tab>
</mat-tab-group>
