<h1>Sketching</h1>
<p>
  Opgaver for uge 3
</p>

<mat-tab-group>
  <mat-tab label="10 + 10 metoden">
    <div style="max-width: 600px;">
      <p>
        Jeg har valgt at lave en app, hvor man kan se træninger på åbne arealer
        i nærheden af sig selv. Man kan så tilmelde sig træningen og yderligere
        se hvem der ellers har tilmeldt sig.<br />
        Jeg startede med at lave 10 udkast som ses nedefor og kan hentes
        <a href="../../../assets/uge-3/opgave-1/udkast-koncept.zip"
          ><b>her</b></a
        >
      </p>
      <img
        src="../../../assets/uge-3/opgave-1/Design udkast faelles.jpg"
        alt="Design udkast faelles"
        width="600px"
      />
      <p>
        Jeg valgte at gå videre med udkast 9 og tegne 10 nye designs. De vises
        nedenfor og kan hentes her
        <a href="../../../assets/uge-3/opgave-1/design.zip"><b>her</b></a>
      </p>
      <img
        src="../../../assets/uge-3/opgave-1/Design faelles.jpg"
        alt="Design udkast faelles"
        width="600px"
      />
      <p>
        Det endelige design blev nummer 9, hvor skærmen viser et maps med
        markers for træninger. Det er så muligt at ændre radius nede i højre
        side af skærmen. Ved tryk på en marker vises tidspunkt og deltagere.
        Endvidere er det muligt at tilmelde sig træningen.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Rejse app">
    <div style="max-width: 600px;">
      <p>
        Vi har fået stillet til opgave at lave en rejse app, som kan benyttes af
        rejsende fra Københans Lufthavn. Følgende er min løsning
      </p>
      <p><b>App navn:</b> Cph Air Travel</p>
      <p><b>Målgruppe:</b> Forretningsrejsende fra Københavns lufthavn</p>

      <p>
        Jeg har startet med at lave et mindmap over features app'en skal
        indeholde
      </p>
      <img src="../../../assets/uge-3/opgave-2/Cph Air Travel app.svg" alt="" />
      <p>Ud fra mindmap'en har jeg så tegnet følgende flow</p>
      <img
        src="../../../assets/uge-3/opgave-2/Cph Air Travel app - flow.jpeg"
        alt="Design udkast faelles"
        width="600px"
      />
      <ol style="margin-top: 25px">
        <li>Først indtastes et bookingnummer for at fremsøge sin rejse</li>
        <li>Rejsen vises med information om flynummer, afgangstid, gate etc.</li>
        <li>Hvis en rejsende ønsker notifikationer om ændringer, klikkes på Notifikation</li>
        <li>Under notifikation kan angives et mobil nummer så der modtages en SMS ved ændringer</li>
        <li>Hvis en rejsende ønsker at benytte sig af rabat i udvalgte butikker, klikkes på Rabatter</li>
        <li>Under butikker listes de butikker hvor der kan opnåes rabat</li>
        <li>Ud for hver enkelt butik, kan klikkes på Vis. Her får man efterfølgende vist rabatkoden</li>
      </ol>
    </div>
  </mat-tab>
</mat-tab-group>
