<h1>Sketching</h1>
<p>
  Opgaver for uge 3
</p>

<mat-tab-group>
  <mat-tab label="Opgave 1">
    <div>
      <h5>10 + 10 metoden:</h5>
      <ol>
        <li>Lav 10 designudkast (du vælger selv koncept)</li>
        <li>Udvælg det bedste af dem</li>
        <li>Lav 10 nye udkast af designet</li>
        <li>
          Vis det bedste resultat frem i din portfolio og begrund processen frem
          til det endelige resultat på en side som du kalder Sketching
        </li>
      </ol>
    </div>
    <hr />
    <div>
      <h5>Løsning:</h5>
    </div>
  </mat-tab>
  <mat-tab label="Opgave 2">
    <h5>
      Design et koncept for en ny app til rejsende fra Københavns lufthavn
    </h5>
    <ol>
      <li>
        Brainstorm: Hvilke features vil det være rart at have til denne app?
      </li>
      <li>
        Hvem er din målgruppe?
      </li>
      <li>
        Lav sketches som illustrerer dit koncept
      </li>
      <li>
        Brug gerne dit billedbehandlingsprogram som en del af udviklingen af dit
        koncept
      </li>
      <li>
        Upload illustrationen af dit koncept på din portfolio på siden Sketching
        og redegør for dine ideer på siden
      </li>
    </ol>
    <hr />
    <div>
      <h5>Løsning:</h5>
    </div>
  </mat-tab>
</mat-tab-group>
