<h1>Helsinge Kameludlejning</h1>
<p>
  Opgaver for uge 6
</p>

<mat-tab-group>
  <mat-tab label="Opgave">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Opgave</h4>
        <div>
          <p>
            I denne uge skal du komme med et designforslag til følgende site:
            <a href="https://www.kameludl.dk/" target="_blank">Helsinge kameludlejning</a>. Helsinge Kameludlejning har mange
            trofaste kunder og flere af dem har fundet frem til sitet via en
            googlesøgning! Det er tydeligt, at sitet trænger til en opstramning
            på flere punkter og det er så din opgave at finde frem til et
            designforslag som er tidssvarende og lever op til de gængse
            webkonventioner. Du behøver ikke på nuværende tidspunkt at indtænke
            responsivt design - dette kommer vi nærmere ind på senere i
            forløbet, men hav det med i dine overvejelser!
          </p>
          <p>
            Du skal som minimum komme med designforslag til 3 sider, hvor en af
            siderne skal være sitets frontpage. Hver af de redesignede sider
            skal uploades til din portfolio som håndtegnede sketches, wireframes
            og meget gerne digitale mock-ups (Photoshop, Gimp eller lignende
            software). Har du tid, må du også meget gerne designe en prototype,
            hvor du følger de "4 Content Guidelines for Testing Any Prototype",
            fra side 73 i artiklen "The ultimate guide to prototyping".
          </p>
          <h5>Forsiden</h5>
          <div>
            <img
              src="../../../assets/uge-6/opgave/forsiden.png"
              alt="Opgave - Forsinde"
              width="100%"
            />
          </div>
          <h5>Hundepension</h5>
          <div>
            <img
              src="../../../assets/uge-6/opgave/hundepension.png"
              alt="Opgave - Hundepension"
              width="100%"
            />
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Wireframes">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Wireframes</h4>
        <div>
          <p>
            Jeg har startet med at lave 3 håndtegnede wireframes af de sider,
            jeg vil lave på Helsinge Kameludlejning.
          </p>
          <p>
            Øverst er placeret links som skal fungere som en menu, samt et
            billede af en hund og en kat for at sende et budskab om hvem
            hjemmesiden henvender sig til. Nederst er generelle informationer,
            som vil være gennemgående på alle sider.
          </p>
          <h5>Velkommen</h5>
          <p>
            Den første side er &ldquo;Velkommen&rdquo; siden. Her er plads til
            et billede som skal vise noget om det hjemmesiden omhandler. I hver
            af de 4 bokse, er en kort intro til indholdet på de andre sider.
          </p>
          <div>
            <img
              src="../../../assets/uge-6/wireframes/01_velkommen.jpeg"
              alt="Wireframe - Velkommen"
              width="100%"
            />
          </div>
          <h5>Hvem er vi?</h5>
          <p>
            Den næste side er &ldquo;Hvem er vi&rdquo; siden. Her vises billedet
            af Svansmosegården. Det store tekstfelt vil være teksten fra
            forsiden på den eksisterende hjemmeside.
          </p>
          <div>
            <img
              src="../../../assets/uge-6/wireframes/02_hvem-er-vi.jpeg"
              alt="Wireframe - Hvem er vi"
              width="100%"
            />
          </div>
          <h5>Hunde</h5>
          <p>
            Den næste side er &ldquo;Hunde&rdquo; siden. Her vises et billede af
            en hund. Tekstfelterne vil være teksten fra hunde siden på den
            eksisterende hjemmeside.
          </p>
          <div>
            <img
              src="../../../assets/uge-6/wireframes/03_hunde.jpeg"
              alt="Wireframe - Hunde"
              width="100%"
            />
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Mock-ups">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Mock-ups</h4>
        <div>
          <p>
            Som næste skridt i processen, har jeg taget de foregående wireframes
            og omdannet til mock-ups.
          </p>
          <h5>Velkommen</h5>
          <p>
            &ldquo;Velkommen&rdquo; siden lavet som en mock-up.
          </p>
          <div>
            <img
              src="../../../assets/uge-6/mock-ups/01_velkommen.png"
              alt="Mock-ups - Velkommen"
              width="100%"
            />
          </div>
          <h5>Hvem er vi?</h5>
          <p>
            &ldquo;Hvem er vi&rdquo; siden lavet som en mock-up.
          </p>
          <div>
            <img
              src="../../../assets/uge-6/mock-ups/02_hvem_er_vi.png"
              alt="Mock-ups - Hvem er vi"
              width="100%"
            />
          </div>
          <h5>Hunde</h5>
          <p>
            &ldquo;Hunde&rdquo; siden lavet som en mock-up.
          </p>
          <div>
            <img
              src="../../../assets/uge-6/mock-ups/03_hunde.png"
              alt="Mock-ups - Hunde"
              width="100%"
            />
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Prototyping">
    <div class="row mx-0 my-3">
      <div class="col col-12 col-md-8 offset-md-2">
        <h4>Prototyping</h4>
        <div>
          <p>
            Som sidste skridt i processen, har jeg taget de foregående mock-ups
            og omdannet til en prototyping ved brug af Adobe XD.
          </p>
          <p>
            For farvevalget har jeg taget udgangspunkt i den blå farve og
            benyttet Adobe Color til at lave et farveskema. Jeg har benyttet
            komplementær farveharmoni.
          </p>
          <p>
            Det er muligt at afprøve prototypen ved klik
            <a
              href="https://xd.adobe.com/view/d7ddf35b-856e-4025-534e-555042ff5863-a1ec/"
              target="_blank"
              >her</a
            >
          </p>
          <h5>Velkommen</h5>
          <p>
            &ldquo;Velkommen&rdquo; siden lavet som en prototype.
          </p>
          <div>
            <img
              src="../../../assets/uge-6/prototyping/01_velkommen.png"
              alt="Prototyping - Velkommen"
              width="100%"
            />
          </div>
          <h5>Hvem er vi?</h5>
          <p>
            &ldquo;Hvem er vi&rdquo; siden lavet som en prototype.
          </p>
          <div>
            <img
              src="../../../assets/uge-6/prototyping/02_hvem-er-vi.png"
              alt="Prototyping - Hvem er vi"
              width="100%"
            />
          </div>
          <h5>Hunde</h5>
          <p>
            &ldquo;Hunde&rdquo; siden lavet som en prototype.
          </p>
          <div>
            <img
              src="../../../assets/uge-6/prototyping/03_hunde.png"
              alt="Prototyping - Hunde"
              width="100%"
            />
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
